#**Trabalhando com Planilhas do Excel**

In [28]:
#Importando a biblioteca
import pandas as pd

In [29]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [30]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [31]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#Exibindo as 5 últimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
55    Aracaju 2018-01-01   67.23    1520     8
228     Natal 2019-01-02    6.87    1037     3
12     Recife 2019-01-01   17.48     982     2
68   Salvador 2019-01-01  162.35    1037     3
160     Natal 2019-01-02   11.76    1034     1

In [ ]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [32]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [33]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [34]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

**Tratando valores faltantes**

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df["Vendas"].mean()

122.9339571589626

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
216   Salvador 2019-01-02    5.82   1035     1
224      Natal 2019-01-02  178.30   1035     3
34      Recife 2019-01-01   24.97    980     5
74      Recife 2019-01-01   38.79    983     6
193      Natal 2019-01-02    3.97   1036     2
136      Natal 2019-01-02   13.81   1036     1
113  Fortaleza 2019-03-02   38.63    980     2
64   Fortaleza 2019-01-01  110.31   1005     4
121    Aracaju 2018-01-01  162.07   1520     3
6      Aracaju 2018-01-01   35.50   1522     2
118      Natal 2019-01-02   92.21   1035     2
10      Recife 2019-01-01   38.51    982     8
41     Aracaju 2018-01-01  229.64   1520     8
130  Fortaleza 2019-03-02   12.36    983     4
130   Salvador 2019-03-02   59.78   1036     1

In [ ]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [35]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [36]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [37]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [ ]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [ ]:
#Retornando a menor receita
df["Receita"].min()

0.0

In [ ]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [ ]:
#nsamllest
df.nsmallest(3, "Receita")

       Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Fortaleza 2019-02-11     0.0   1003     2      0.0             NaN
14  Fortaleza 2019-01-12     0.0   1005     1      0.0             NaN
34  Fortaleza 2019-01-01     0.0   1003     5      0.0             NaN

In [ ]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     36122.23
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

#**Trabalhando com datas**

In [38]:
#Trasnformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [39]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [41]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [42]:
df.dtypes
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [ ]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [43]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [44]:
df.sample(5)

        Cidade       Data  Vendas  ... Receita  Receita/Vendas  Ano_Venda
87       Natal 2019-01-02  135.19  ...  270.38             2.0       2019
30     Aracaju 2018-01-01  119.21  ...  953.68             8.0       2018
115  Fortaleza 2019-03-02   12.23  ...   36.69             3.0       2019
148      Natal 2019-01-02   40.59  ...  121.77             3.0       2019
110     Recife 2019-03-02   51.98  ...  311.88             6.0       2019

[5 rows x 8 columns]

In [45]:
#Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [46]:
df.sample(5)

        Cidade       Data  Vendas  ... Ano_Venda  mes_venda  dia_venda
116      Natal 2019-01-02   41.78  ...      2019          1          2
118      Natal 2019-01-02   92.21  ...      2019          1          2
65   Fortaleza 2019-01-01  145.20  ...      2019          1          1
197   Salvador 2019-01-02   10.45  ...      2019          1          2
122      Natal 2019-01-02   13.27  ...      2019          1          2

[5 rows x 10 columns]

In [47]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [48]:
#Calculando a diferença de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [49]:
df.sample(5)

        Cidade       Data  Vendas  ... mes_venda  dia_venda  diferenca_dias
228   Salvador 2019-01-02    6.87  ...         1          2        366 days
8      Aracaju 2019-01-01   12.16  ...         1          1        365 days
217      Natal 2019-01-02   37.65  ...         1          2        366 days
2    Fortaleza 2019-02-10   35.33  ...         2         10        405 days
73       Natal 2018-01-05  773.00  ...         1          5          4 days

[5 rows x 11 columns]

In [50]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [68]:
df.sample(5)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
17     Aracaju 2018-01-01  162.19  ...         1          0 days                1
198      Natal 2019-01-02   13.65  ...         2        366 days                1
127   Salvador 2019-03-02  240.61  ...         2        425 days                1
234      Natal 2019-01-03   48.39  ...         3        367 days                1
119  Fortaleza 2019-03-02  152.30  ...         2        425 days                1

[5 rows x 12 columns]

In [ ]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [ ]:
vendas_marco_19.sample(20)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
117  Fortaleza 2019-03-02   15.42  ...         2        425 days                1
140   Salvador 2019-03-02   20.79  ...         2        425 days                1
29       Natal 2019-03-09  646.00  ...         9        432 days                1
50       Natal 2019-03-08  324.00  ...         8        431 days                1
122   Salvador 2019-03-02   13.27  ...         2        425 days                1
108  Fortaleza 2019-03-02  152.89  ...         2        425 days                1
112  Fortaleza 2019-03-02  133.59  ...         2        425 days                1
18       Natal 2019-03-14  581.00  ...        14        437 days                1
141  Fortaleza 2019-03-02  182.75  ...         2        425 days                1
137  Fortaleza 2019-03-02   51.99  ...         2        425 days                1
117     Recife 2019-03-02   15.42  ...         2        425 days                1
45       Natal 2019-03-11  431.00  ...        11        434 days                1
124     Recife 2019-03-02   47.98  ...         2        425 days                1
119     Recife 2019-03-02  152.30  ...         2        425 days                1
134   Salvador 2019-03-02  125.90  ...         2        425 days                1
133   Salvador 2019-03-02  153.71  ...         2        425 days                1
121   Salvador 2019-03-02  100.70  ...         2        425 days                1
121     Recife 2019-03-02   41.55  ...         2        425 days                1
125     Recife 2019-03-02   37.60  ...         2        425 days                1
134  Fortaleza 2019-03-02  195.18  ...         2        425 days                1

[20 rows x 12 columns]